/* 공지사항 페이지 스타일 */

.noticeContainer {
    max-width: 600px;
    margin: 60px auto;
    /* margin-top: 50px; */
    padding: 20px;
    /* padding-top: 40px; */
    /* min-height: 100vh; */
}

.noticeList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noticeItem {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.noticeLink {
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticeTitle {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}

.noticeDate {
    font-size: 14px;
    font-weight: 400;
}

.noticeArrow {
    margin-left: 16px;
    display: flex;
    align-items: center;
}